@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*,  *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {
   background: #C9E5FF;
   font-family: 'Montserrat', sans-serif;
}

a {
   color: #000;
}

._container {
   padding: 0 64px;
   margin: 0 auto;
   margin-top: 43px;
}

.container {
   padding: 0 67px;
   margin: 0 auto;
}

.head-line {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.items-phone {
   display: grid;
   grid-template-columns: repeat(2, auto);
   justify-content: space-between;
   row-gap: 7px;
   column-gap: 45px;
}

.items-phone img {
   padding-right: 9px;
}

.item-phone{
   align-items: center;
   display: flex;
}

.header-content {
   display: flex;
   justify-content: space-between;
   gap: 60px;
   align-items: center;
   margin-top: 34px;
   margin-bottom: 147px;
}

.head-title {
   max-width: 50%;
}
.head-text {
   position: relative;
}
.header-image {

}
.title {
   font-weight: 500;
   font-size: 45px;
}

.text {
   font-weight: 400;
   font-size: 37px;
   margin-top: 29px;
}

.text-info {
   padding-top: 77px;
   font-weight: 400;
   font-size: 25px;
   max-width: 77%;
}

.scroll-image {
   border-radius: 20px;
}

.button {
  margin-top: 56px;
}

.btn {
   background: #fff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 60px;
   font-weight: 400;
   padding: 32px 105px;
   font-size: 34px;
   letter-spacing: 2px;
   color: #000;
   transition: all ease 0.5s;
}

.btn:hover {
   background: #000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   color: #fff;
}
.about__us{
   background: #fff;
}

.title-about {
   padding-top: 74px;
   padding-bottom: 83px;
   text-align: center;
   font-weight: 500;
   font-size: 57px;
}

#slider {
   margin: 0 auto;
   width: 514px;
   max-width: 100%;
   text-align: center;
   margin-bottom: 80px;
 }
 #slider input[type=radio] {
   display: none;
 }
 #slider label {
   cursor:pointer;
   text-decoration: none;
 }
 
 #overflow {
   width: 100%;
   overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
   margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
   margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
   margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
   margin-left: -300%;
 }
 #slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
 }
 #slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 220%;
   color: #fff;
 }
 
 #controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
 }
 #controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
 }
 #controls label:hover {
   opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
   background: url(img/Group\ 1.png) no-repeat;
   float:right;
   margin: 0 -65px 0 0;
   display: block;
   margin-top: -170px;
 }
 #slide1:checked ~ #controls label:nth-last-child(1),
 #slide2:checked ~ #controls label:nth-last-child(4),
 #slide3:checked ~ #controls label:nth-last-child(3),
 #slide4:checked ~ #controls label:nth-last-child(2) {
   background: url(img/Group\ 2.png) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
   margin-top: -170px;
 }
 #bullets {
   margin: 150px 0 0;
   text-align: center;
 }
 #bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
 }
 @media screen and (max-width: 660px) {
   #slide1:checked ~ #controls label:nth-child(2), 
   #slide2:checked ~ #controls label:nth-child(3), 
   #slide3:checked ~ #controls label:nth-child(4), 
   #slide4:checked ~ #controls label:nth-child(1) {
     background: url(img/Group\ 1.png) no-repeat;
     float: right;
     margin: 0 5px 0 0;
     display: block;
     margin-top: -170px;
  }

   #slides {
     max-width: calc(100% - 140px);
     margin: 0 auto;
   }
 }

@media (max-width: 660px) {
   
#slide1:checked ~ #controls label:nth-last-child(1), 
#slide2:checked ~ #controls label:nth-last-child(4), 
#slide3:checked ~ #controls label:nth-last-child(3), 
#slide4:checked ~ #controls label:nth-last-child(2) {
   float: left;
   margin: 0 0 0 20px;
   display: block;
   margin-top: -170px;
  }
  
}

.items-text {
   font-weight: 400;
   font-size: 25px;
}

.items-text span {
   color: #2E5C87;
}
.line {
   border: 0.3px solid #000;
}

.item-text {
   font-weight: 400;
   font-size: 25px;
   display: flex;
   align-items: center;
}

.item-text span  {
   color: #2E5C87;
   display: flex;
   align-items: center;
}
.container__about {
   justify-content: space-between;
   display: flex;
   gap: 150px;
   padding-bottom: 210px;
}
.text__about {
   grid-template-columns: repeat(1, auto);
   display: grid;
   row-gap: 93px;
   justify-content: space-between;
}

.title-product {
   text-align: center;
   font-weight: 500;
   font-size: 57px;
   margin-top: 77px;
   margin-bottom: 120px;
}

.container-product {
   display: flex;
   justify-content: center;
}

.product-image {
   display: grid;
   grid-template-columns: repeat(2, auto);
   justify-content: space-between;
   column-gap: 220px;
}

.img-responsive {
   position: relative;
   
}

.range-txt {
   position: absolute;
   bottom: 0%;
   left: 0;
   width: 100%;
   color: #000;
   font-size: 20px;
   padding: 10px 10px 10px 16px;
   text-align: center;
}

.position-rage-bottom {
   padding-bottom: 20px;
}

.img-responsive:hover img {
   filter: brightness(0.7);
   transition: all ease 0.5s;
}

.img-responsive:hover a {
   opacity: 1;
   transition: opacity .3s;
}

.btn-image {
   opacity: 0;
   position: absolute;
   width: 310px;
   margin-left: -57px;
   height: 84px;
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: 22px;
   top: 260px;
   background: #fff;
   left: calc(50% - 100px);
   color: #000;
   transition: opacity .3s;
   border-radius: 50px;
   transition: all ease 0.5s;
   transition-duration: 1s;
   transition-property: all;
}
.btn-image:hover {
   background-color: rgba(255, 255, 255, 0.7);
   transition-duration: 1s;
   transition-property: all;
}

.button-image_1 {
   justify-content: center;
   display: flex;
   margin-top: 30px;
   margin-bottom: 214px;
}

.btn_1 {
   background: #fff;
   box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
   border-radius: 60px;
   font-weight: 400;
   width: 100%;
   justify-content: center;
   display: flex;
   align-items: center;
   height: 95px;
   text-align: center;
   font-size: 28px;
   letter-spacing: 2px;
   color: #000;
   transition: all ease 0.5s;
}

.btn_1:hover {
   background: #000;
   box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
   color: #fff;
}

.place {
   background: #fff;
}

.title-place {
   padding-top: 74px;
   padding-bottom: 136px;
   font-weight: 500;
   font-size: 45px;
   text-align: center;
}

.map {
   display: flex;
   justify-content: space-around;
   gap: 30px;
}

.iframe-width {}

.title-map {
   font-weight: 400;
   margin-bottom: 32px;
   font-size: 32px;
}

.title-input {
   font-weight: 400;
   font-size: 37px;
   padding-top: 100px;
   padding-bottom: 27px; 
}

.wpcf7-form-control-wrap {
   position: relative;
}

.form-control {
   display: block;
   width: 500px;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea {
   overflow: auto;
   resize: vertical;
}

.button-input {
   margin-top: 50px;
   padding-bottom: 200px;
}

.btn-input {
   color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   font-size: 22px;
   width: 410px;
   height: 74px;
   background: #fff;
   box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
   border-radius: 50px;
   transform: translate3d(0, 0.75em, -1em);
   transition: transform 0.15s, box-shadow 0.15s;
   
}

.btn-input:hover {
   background: #000;
   color: #fff;
   transition: all ease 0.5s;
}
.asdas {
   text-align: center;
}

.btn-input {
   transform: translate3d(0, 0.75em, -1em);
   transition: transform 0.15s, box-shadow 0.15s;
}

.title-contact {
   font-size: 57px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 10px;
   padding-top: 65px ;
}

.mobile {
   margin-bottom: 68px;
}

.item-mobile {
   font-weight: 400;
   font-size: 22px;
   text-align: center;
   margin-bottom: 4px;
   padding-right: 4px;
   color: #000;
}



.item-mobile img {
   margin-right: 5px;
}

.item-mobile a {
   color: #000;
   font-size: 18px;
}

.contact-app {
   display: flex;
   justify-content: space-between;
   margin-bottom: 150px;
}

.olx img {
   width: 100%;
   height: auto;

}

.instagram img {
   width: 100%;
   height: auto;
}

.footer {
   background: #3D3D3D;
}

.footer-title {
   font-weight: 400;
   font-size: 24px;
   text-align: center;
   padding-top: 54px;
   padding-bottom: 54px;
}

.footer-title a {
   color: #fff;
}

@media (max-width: 1726px) {
   .container__about {
      justify-content: space-between;
      display: flex;
      gap: 40px;
      padding-bottom: 210px;
  }
}

@media (max-width: 1678px) {
   .map {
      display: grid;
      justify-content: center;
      gap: 20px;
  }
   .contact-app {
      display: flex;
      justify-content: center;
      gap: 50px;
  }
}
@media (max-width: 1350px) {
   #bullets {
      margin: 135px 0 0;
      text-align: center;
  }
   .text-info {
      padding-top: 77px;
      font-weight: 400;
      font-size: 25px;
      max-width: 100%;
  }
}

@media (max-width: 1355px) {
   .items-text {
      font-weight: 400;
      font-size: 21px;
  }
   .item-text {
      font-weight: 400;
      font-size: 21px;
      display: flex;
      align-items: center;
  }
}

@media (max-width: 1305px) {
   .product-image {
      display: grid;
      grid-template-columns: repeat(1, auto);
      justify-content: space-between;
      column-gap: 220px;
  }
}

@media (max-width: 1260px) {
   .items-phone {
      display: grid;
      grid-template-columns: repeat(1, auto);
      justify-content: space-between;
      row-gap: 7px;
      column-gap: 45px;
  }
}

@media (max-width: 1250px) {
   #bullets {
      margin: 120px 0 0;
      text-align: center;
  }
}
@media (max-width: 1108px) {
 #bullets {
      margin: 75px 0 0;
      text-align: center;
  }
}
@media (max-width: 1010px) {
   #bullets {
      margin: 50px 0 0;
      text-align: center;
  }
}
@media (max-width: 965px) {
   #bullets {
      margin: 40px 0 0;
      text-align: center;
  }
}
@media (max-width: 896px) {
   #bullets {
      margin: 15px 0 0;
      text-align: center;
  }
}

@media (max-width: 1185px) {
   .title {
      font-weight: 500;
      font-size: 37px;
  }
  .text {
      font-weight: 400;
      font-size: 32px;
      margin-top: 29px;
}
   .text-info {
      padding-top: 55px;
      font-weight: 400;
      font-size: 22px;
      max-width: 100%;
  }
}

@media (max-width: 1200px) {
   .iframe-width {
      width: 900px;
   }
}
@media (max-width: 1000px) {
   .title-map {
      font-weight: 400;
      margin-bottom: 32px;
      font-size: 26px;
  }
  .iframe-width {
      width: 700px;
  }
}
@media (max-width: 767px) {
   .iframe-width {
      width: 550px;
   }
}
@media (max-width: 605px) {
   .iframe-width {
      width: 430px;
   }
}
@media (max-width: 510px) {
   .iframe-width {
      width: 320px;
   }
}
@media (max-width: 350px) {
   .iframe-width {
      width: 270px;
   }
}
@media (max-width: 310px) {
   .iframe-width {
      width: 240px;
      height: 450px;
   }
}
@media (max-width: 1150px) {
   .container__about {
      justify-content: space-between;
      display: grid;
      gap: 30px;
      padding-bottom: 210px;
   }
   .line {
      height: 360px;
      border: 0.5px solid #000000;
      display: none;
  }
   .lines-black {
      display: flex;
      gap: 10px;
   }
   .lines-text {
      border: 1px solid #000000;
   }
}



@media (max-width: 1083px) {
   .btn {
      background: #fff;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      border-radius: 60px;
      font-weight: 400;
      padding: 25px 76px;
      font-size: 27px;
      letter-spacing: 2px;
      color: #000;
      transition: all ease 0.5s;
  }
}

@media (max-width: 1000px) {
   .title {
      font-weight: 500;
      font-size: 32px;
  }
  .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: 29px;
  }
  .text-info {
      padding-top: 55px;
      font-weight: 400;
      font-size: 18px;
      max-width: 100%;
  } 
}

@media (max-width: 920px) {
   .head-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
  }

   .btn {
      background: #fff;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      border-radius: 60px;
      font-weight: 400;
      padding: 27px 111px;
      font-size: 27px;
      letter-spacing: 2px;
      color: #000;
      transition: all ease 0.5s;
  }
   .header-content {
      display: grid;
      justify-content: center;
      gap: 60px;
      margin-top: 34px;
      margin-bottom: 500px;
   }
   
   .head-title {
      max-width: 100%;
  }
   .item-phone {
      align-items: center;
      display: flex;
      font-size: 14px;
      justify-content: start;
  }
   .item-phone img {
      width: 27px;
  }
  .title {
      font-weight: 500;
      font-size: 32px;
      text-align: center;
  }
  .head-text {
      position: absolute;
      top: 1043px;
      padding: 0px 67px 0px 0px
  }
  .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: 30px;
      text-align: center;
  }
  .text-info {
      padding-top: 20px;
      font-weight: 400;
      font-size: 18px;
      max-width: 100%;
      text-align: center;
  }
   .button {
      margin-top: 56px;
      display: flex;
      justify-content: center;
  }
   #bullets {
      margin: 140px 0 0;
      text-align: center;
  }
}

@media (max-width: 660px) {
   #bullets {
      margin: 105px 0 0;
      text-align: center;
   }
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: 50px;
      text-align: center;
  }
   ._container {
      padding: 0 24px;
      margin: 0 auto;
      margin-top: 43px;
  }
  .container {
      padding: 0 24px;
      margin: 0 auto;
  }
   .btn {
      background: #fff;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
      border-radius: 60px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 27px;
      font-size: 27px;
      letter-spacing: 2px;
      color: #000;
      transition: all ease 0.5s;
  }
   .head-text {
      position: absolute;
      top: 900px;
      padding: 0px 24px 0px 0px;
  }
  .header-content {
      display: grid;
      justify-content: center;
      gap: 10px;
      margin-top: 34px;
      margin-bottom: 400px;
  }
  .head-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
}
  #slider {
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 90px;
   }
} 


@media (max-width: 526px) {
   .olx img {
      width: 60%;
      float: left;
      height: auto;
   }
   .instagram img {
      width: 60%;
      float: right;
      height: auto;
   }
}

@media (max-width: 550px) {
   .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}
@media (max-width: 560px) {
   .btn-input {
      width: 100%;
    }
}
@media (max-width: 490px) {
   
   #slides .slide {
      width: 25%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130%;
      color: #fff;
}
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(img/Group\ 1.png) no-repeat;
   float: right;
   margin: 0 5px 0 0;
   display: block;
   margin-top: -40px;
}

#slide1:checked ~ #controls label:nth-last-child(1), 
#slide2:checked ~ #controls label:nth-last-child(4), 
#slide3:checked ~ #controls label:nth-last-child(3), 
#slide4:checked ~ #controls label:nth-last-child(2) {
   float: left;
   margin: 0 0 0 20px;
   display: block;
   margin-top: -40px;
}
   #bullets {
      margin: 100px 0 0;
      text-align: center;
  }
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: -115px;
      text-align: center;
  }
}

@media (max-width: 420px) {
   .title {
      font-weight: 500;
      font-size: 28px;
      text-align: center;
  }
  
}

@media (max-width: 625px) {
   #bullets {
      margin: 80px 0 0;
      text-align: center;
   }
}

@media (max-width: 570px) {
   #bullets {
      margin: 60px 0 0;
      text-align: center;
  }
}

@media (max-width: 540px) {
   #bullets {
      margin: 30px 0 0;
      text-align: center;
  }
}
@media (max-width: 489px) {
   #bullets {
      margin: 130px 0 0;
      text-align: center;
  }
}
@media (max-width: 450px) {
   #bullets {
      margin: 110px 0 0;
      text-align: center;
  }
  ._container {
      padding: 0 18px;
      margin: 0 auto;
      margin-top: 43px;
}
   .head-text {
      position: absolute;
      top: 900px;
      padding: 0px 18px 0px 0px;
  }
}
@media (max-width: 410px) {
   #bullets {
      margin: 85px 0 0;
      text-align: center;
  }
}
@media (max-width: 360px) {
   #slides .slide {
      width: 25%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 110%;
      color: #fff;
  }
  #slide1:checked ~ #controls label:nth-child(2), 
  #slide2:checked ~ #controls label:nth-child(3), 
  #slide3:checked ~ #controls label:nth-child(4), 
  #slide4:checked ~ #controls label:nth-child(1) {
      background: url(img/Group\ 1-small.png) no-repeat;
      float: right;
      margin: 0 12px 0 0;
      display: block;
      margin-top: 0px;
  }
#slide1:checked ~ #controls label:nth-last-child(1), 
#slide2:checked ~ #controls label:nth-last-child(4), 
#slide3:checked ~ #controls label:nth-last-child(3), 
#slide4:checked ~ #controls label:nth-last-child(2) {
      background: url(img/Group\ 2-small.png) no-repeat;
      float: left;
      margin: 0 0 0 45px;
      display: block;
      margin-top: 0px;
  }
}
@media (max-width: 620px) { 
   .head-line {
      display: grid;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
   } 
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: 120px;
      text-align: center;
  }
}
@media (max-width: 500px) {
   .title-map {
      font-weight: 400;
      margin-bottom: 32px;
      font-size: 22px;
  }
}
@media (max-width: 490px) {
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: -70px;
      text-align: center;
  }
   .items-text {
      font-weight: 400;
      font-size: 19px;
  }
   #bullets {
      margin: 130px 0 0;
      text-align: center;
  }
   .title-place {
   padding-top: 74px;
   padding-bottom: 80px;
   font-weight: 500;
   font-size: 45px;
   text-align: center;
  }
   .items-text {
      font-weight: 400;
      font-size: 17px;
  }
   .item-text {
      font-weight: 400;
      font-size: 17px;
      display: flex;
      align-items: center;
  }
}
@media (max-width: 460px) {
   .btn_1 {
      font-size: 24px;
      height: 90px;
   }
   #bullets {
      margin: 110px 0 0;
      text-align: center;
   }
   .contact-app {
      display: flex;
      justify-content: center;
      gap: 10px;
  }
}

@media (max-width: 405px) {
   .btn_1 {
      font-size: 22px;
      height: 85px;
   }
}
@media (max-width: 360px) {
   .btn_1 {
      font-size: 20px;
      height: 80px;
   }
}
@media (max-width: 330px) {
   .btn_1 {
      font-size: 18px;
      height: 75px;
   }
}

@media (max-width: 440px) {
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: -115px;
      text-align: center;
  }
   #bullets {
      margin: 110px 0 0;
      text-align: center;
}
   .button-image_1 {
      justify-content: center;
      display: flex;
      margin-top: 30px;
      margin-bottom: 80px;
  }
}

@media (max-width: 495px) {
   .title-about {
      padding-top: 74px;
      padding-bottom: 83px;
      text-align: center;
      font-weight: 500;
      font-size: 42px;
  }
   .title-product {
      text-align: center;
      font-weight: 500;
      font-size: 42px;
      margin-top: 77px;
      margin-bottom: 120px;
  }
  .title-place {
   padding-top: 74px;
   padding-bottom: 70px;
   font-weight: 500;
   font-size: 38px;
   text-align: center;
  }
}
@media (max-width: 380px) {
   .title-about {
      padding-top: 74px;
      padding-bottom: 83px;
      text-align: center;
      font-weight: 500;
      font-size: 37px;
  }
   .title-product {
      text-align: center;
      font-weight: 500;
      font-size: 37px;
      margin-top: 77px;
      margin-bottom: 120px;
  }
  .title-place {
      padding-top: 74px;
      padding-bottom: 70px;
      text-align: center;
      font-weight: 500;
      font-size: 34px;
      text-align: center;
}
}
@media (max-width: 450px) {
   .title-contact {
      font-size: 42px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
      padding-top: 65px;
  }
}
@media (max-width: 410px) {
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: -135px;
      text-align: center;
  }
   #bullets {
      margin: 85px 0 0;
      text-align: center;
}
}
@media (max-width: 400px) {
   .item-mobile {
      font-weight: 400;
      font-size: 19px;
      text-align: center;
      margin-bottom: 4px;
      padding-right: 4px;
      color: #000;
  }
   .item-mobile a {
      color: #000;
      font-size: 14px;
}
   
}


@media (max-width: 370px) {
   .title {
      font-weight: 500;
      font-size: 24px;
      text-align: center;
  }
   #bullets {
      margin: 85px 0 0;
      text-align: center;
  }
}
@media (max-width: 340px) {
   .item-mobile {
      font-weight: 400;
      font-size: 17px;
      text-align: center;
      margin-bottom: 4px;
      padding-right: 4px;
      color: #000;
  }
}

@media (max-width: 330px) {
   #bullets {
      margin: 70px 0 0;
      text-align: center;
  }
}
@media (max-width: 315px) {
   #bullets {
      margin: 60px 0 0;
      text-align: center;
  }
}

@media (max-width: 367px) {
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: -165px;
      text-align: center;
   }
}
@media (max-width: 360.98px) {
   .text {
      font-weight: 400;
      font-size: 27px;
      margin-top: -220px;
      text-align: center;
   }
}

@media (max-width: 465px) {
   .btn-image {
      opacity: 0;
      position: absolute;
      width: 310px;
      margin-left: -57px;
      height: 84px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 22px;
      top: 190px;
      background: #fff;
      left: calc(50% - 100px);
      color: #000;
      transition: opacity .3s;
      border-radius: 50px;
      transition: all ease 0.5s;
      transition-duration: 1s;
      transition-property: all;
  }
}
@media (max-width: 420px) {
   .btn-image {
      width: 270px;
      margin-left: -36px;
      height: 78px;
      font-size: 22px;
      top: 190px;
      
  }
}
@media (max-width: 360px) {
   .btn-image {
      width: 220px;
      margin-left: -10px;
      height: 78px;     
      font-size: 20px;
      top: 190px;
  }
   .item-mobile {
      font-weight: 400;
      font-size: 19px;
      text-align: center;
      margin-bottom: 4px;
      padding-right: 4px;
      color: #000;
  }
}
@media (max-width: 330px) {
   .btn-image {
      width: 200px;
      margin-left: 0px;
      height: 65px; 
      font-size: 20px;
      top: 130px;
      
  }
}
@media (max-width: 290px) {
   .btn-image {
      width: 160px;
      margin-left: 21px;
      height: 55px;
      opacity: 1;
      font-size: 17px;
      top: 130px;
  }
}


